@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto&display=swap");

:root {
  --foreground-rgb: 34, 40, 49; /* #222831 */
  --background-start-rgb: 57, 62, 70; /* #393E46 */
  --background-end-rgb: 57, 62, 70; /* #393E46 */
  /* Yeni Renk Paleti */
  --color-primary: #222831; /* Koyu gri */
  --color-secondary: #393E46; /* Orta gri */
  --color-accent: #00ADB5; /* Turkuaz */
  --color-light: #EEEEEE; /* Açık gri */
  --color-dark: #222831; /* Koyu gri */
  --color-text: #EEEEEE; /* Açık gri metin */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Koyu modda da siyah metin */
    --background-start-rgb: 255, 255, 255; /* Koyu modda da beyaz arkaplan */
    --background-end-rgb: 255, 255, 255; /* Koyu modda da beyaz arkaplan */
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--background-start-rgb)); /* Düz beyaz arkaplan */
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  color: var(--color-primary);
}
